<div class="container my-5 text-center">
    <h2>About Me</h2>
    <p>
        I am a Computer Science graduate with a GPA of 3.18, specializing in both backend and frontend development, as
        well as competitive programming. My strong foundation in problem-solving is demonstrated through my expertise in
        languages such as C++, Java, and SQL. I have consistently ranked highly in various programming competitions at
        both the university and national levels. My passion lies in mastering backend and frontend technologies, where I
        continuously seek to innovate and enhance my skills.
    </p>
    <a href="../../../public/Arwa Mohammed Ramadan.pdf" download class="btn btn-primary">Download CV</a>
</div>